.env
env
venv
temp
tmp
test/*
__pycache__

*.pyc
*.sqlite
*.coverage
.DS_Store
env.sh
migrations
*.idea
logs.txt
get-pip.py

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
