.env
env
venv
temp
tmp
*./
.python-version
test/*
.ebextensions/*
__pycache__

*.pyc
*.sqlite
*.coverage
.DS_Store
env.sh
migrations
*.idea
logs.txt
get-pip.py
.ebignore

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
