container_commands:
    01_init:
        command: "source venv/bin/activate && python -m manage.py db init --noinput"
        leader_only: true
    02_migrate:
        command: "source venv/bin/activate && python -m manage.py db migrate --noinput"
        leader_only: true
    03_migrate:
        command: "source venv/bin/activate && python -m manage.py db upgrade --noinput"
        leader_only: true
    04_populate:
        command: "source venv/bin/activate && python -m manage.py populate_db --noinput"
        leader_only: true

option_settings:
  "aws:elasticbeanstalk:application:environment":
    FLASK_ENV: "production"
    FLASK_APP: "project/server/__init__.py"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: manage.py
    NumProcesses: 3
    NumThreads: 20