container_commands:
    01_migrate:
        command: "source /opt/python/run/venv/bin/activate && python application.py db init"
        leader_only: true
    02_migrate:
        command: "source /opt/python/run/venv/bin/activate && python application.py db  migrate"
        leader_only: true
    03_migrate:
        command: "source /opt/python/run/venv/bin/activate && python application.py db upgrade"
        leader_only: true
    04_migrate:
        command: "source /opt/python/run/venv/bin/activate && python application.py populate_db"
        leader_only: true

option_settings:
  "aws:elasticbeanstalk:application:environment":
    FLASK_APP: "project/server/__init__.py"
    FLASK_ENV: "production"
    APP_SETTINGS: "project.server.config.ProductionConfig"