packages:
    yum:
        git: []
        postgresql93-devel: []
        libjpeg-turbo-devel: []

container_commands:
    01_migrate:
        command: "source /opt/python/run/venv/bin/activate && python3 application.py db init"
        leader_only: true
    02_migrate:
        command: "source /opt/python/run/venv/bin/activate && python3 application.py db migrate"
        leader_only: true
    03_migrate:
        command: "source /opt/python/run/venv/bin/activate && python3 application.py db upgrade"
        leader_only: true
    04_migrate:
        command: "source /opt/python/run/venv/bin/activate && python3 application.py populate_db"
        leader_only: true

option_settings:
    "aws:elasticbeanstalk:application:environment":
        FLASK_APP: "project/server/__init__.py"
        FLASK_ENV: "production"
        APP_SETTINGS: "project.server.config.ProductionConfig"
    "aws:elasticbeanstalk:container:python":
        NumProcesses: '1'
        NumThreads: '15'
        StaticFiles: /static/=static/
        WSGIPath: "application.py"